<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
			  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

  <!--db provider配置文件路径-->
  <providers resource="providers.config"/>

  <!--db provider类型及连接串-->
  <database>
    <provider name="MySql" />
    <dataSource name="MySql" connectionString="Host=localhost;UserName=fixture_user;Password=fixture123456;
                Database=fixture_manage;Port=3306;CharSet=utf8" />
  </database>

  <!--db与Entity的映射文件-->
  <sqlMaps>
    <sqlMap resource="Mappers/InventoryRecordMapper.xml"/>
    <!--
    <sqlMap resource="Mappers/LogMapper.xml"/>
    <sqlMap resource="Mappers/ProductionLineMapper.xml"/>
    <sqlMap resource="Mappers/PurchaseMapper.xml"/>
    <sqlMap resource="Mappers/RepairRecordMapper.xml"/>
    <sqlMap resource="Mappers/RoleMapper.xml"/>
    <sqlMap resource="Mappers/ScrapMapper.xml"/>
    <sqlMap resource="Mappers/TongsDefinitionMapper.xml"/>
    <sqlMap resource="Mappers/TongsEntityMapper.xml"/>
    <sqlMap resource="Mappers/UserMapper.xml"/>
    <sqlMap resource="Mappers/WorkcellMapper.xml"/>
    -->
  </sqlMaps>
  
</sqlMapConfig>