<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Ibatis" xmlns="http://ibatis.apache.org/mapping"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--创建类的别名-->
  <alias>
    <typeAlias alias="Purchase" type="TongManage.Models.Purchase, TongManage" />
  </alias>

  <resultMaps>
    <!--Purchase类与db表的映射-->
    <resultMap id="Purchase" class="Purchase">
      <result property="Id" column="Id"/>
      <result property="BillNo" column="BillNo"/>
      <result property="OperatorId" column="Operator_Id"/>
      <result property="LogOn" column="Log_On"/>
      <result property="TongId" column="Tong_Id"/>
      <result property="WorkcellId" column="Workcell_Id"/>
      <result property="GmtCreate" column="Gmt_Create" />
      <result property="GmtModified" column="Gmt_Modified"  />
      <result property="IsDeleted" column="Is_Deleted" />
    </resultMap>
  </resultMaps>

  <statements>

    <!--查询所有记录-->
    <select id="SelectAllPurchases" parameterClass="Purchase" resultMap="Purchase">
      SELECT * from fixture_purchase
      WHERE is_deleted = 0
      <isNotEqual prepend="AND" property="WorkCellId" compareValue="-1">
        workcell_id = #WorkCellId#
      </isNotEqual>
    </select>

    <!--查询单条记录-->
    <select id="SelectPurchaseById" parameterClass="Purchase" resultMap="Purchase" >
      SELECT * from fixture_purchase
      WHERE is_deleted = 0
      <isNotEqual prepend="AND" property="Id" compareValue="-1">
        id = #Id#
      </isNotEqual>
      <isNotEqual prepend="AND" property="WorkCellId" compareValue="-1">
        workcell_id = #WorkCellId#
      </isNotEqual>
    </select>

    <!--插入新记录-->
    <insert id="InsertPurchase" parameterClass="Purchase">
      INSERT into fixture_purchase ( BillNo, Operator_Id, Log_On, Tong_Id, Workcell_Id, Gmt_Create, Gmt_Modified, Is_Deleted)
      values ( #BillNo#, #OperatorId#, #LogOn#, #TongId#, #WorkcellId#, #GmtCreate#, #GmtModified#, #IsDeleted#)
      <selectKey resultClass="int" type="post" property="id" >
        select LAST_INSERT_ID() as value
      </selectKey>
    </insert>

    <!--更新单条记录-->
    <update id="UpdatePurchase" parameterClass="Purchase">
      UPDATE fixture_purchase SET
      BillNo = #BillNo#,
      Operator_Id = #OperatorId#,
      Log_On = #LogOn#,
      Tong_Id = #TongId#,
      Workcell_Id = #WorkcellId#,
      Gmt_Create = #GmtCreate#,
      Gmt_Modified = #GmtModified#,
      WHERE id = #Id# AND is_deleted = 0
    </update>

    <!--根据主键删除单条记录-->
    <update id="DeletePurchaseById" parameterClass="Purchase">
      UPDATE fixture_purchase
      SET Is_Deleted = 1
      WHERE id = #id#
    </update>

  </statements>

</sqlMap>

